DirectoryIndex index.php
RewriteEngine on
RewriteBase /is2med-api/
RewriteRule ^doctors/?$ views/doctors.php [NC,L]
RewriteRule ^doctors/([0-9]+)/?$ views/doctors.php?id=$1 [NC,L]
RewriteRule ^pacients/?$ views/pacients.php [NC,L]
RewriteRule ^pacients/([0-9]+)/?$ views/pacients.php?id=$1 [NC,L]
RewriteRule ^labs/?$ views/labs.php [NC,L]
RewriteRule ^labs/([0-9]+)/?$ views/labs.php?id=$1 [NC,L]
RewriteRule ^exams/?$ views/exams.php [NC,L]
RewriteRule ^exams/([0-9]+)/?$ views/exams.php?id=$1 [NC,L]
RewriteRule ^appointments/?$ views/appointments.php [NC,L]
RewriteRule ^appointments/([0-9]+)/?$ views/appointments.php?id=$1 [NC,L]