DirectoryIndex index.php
RewriteEngine on
RewriteBase /is2med-api/
RewriteRule ^login/?$ views/LoginView.php [NC,L]
RewriteRule ^users/?$ views/UsersView.php [NC,L]
RewriteRule ^users/([0-9]+)/?$ views/UsersView.php?id=$1 [NC,L]
RewriteRule ^doctors/?$ views/DocView.php [NC,L]
RewriteRule ^doctors/([0-9]+)/?$ views/DocView.php?id=$1 [NC,L]
RewriteRule ^patients/?$ views/PatientView.php [NC,L]
RewriteRule ^patients/([0-9]+)/?$ views/PatientView.php?id=$1 [NC,L]
RewriteRule ^labs/?$ views/LabView.php [NC,L]
RewriteRule ^labs/([0-9]+)/?$ views/LabView.php?id=$1 [NC,L]
RewriteRule ^exams/?$ views/ExamView.php [NC,L]
RewriteRule ^exams/([0-9]+)/?$ views/ExamView.php?id=$1 [NC,L]
RewriteRule ^appointments/?$ views/AppView.php [NC,L]
RewriteRule ^appointments/([0-9]+)/?$ views/AppView.php?id=$1 [NC,L]
RewriteRule ^count/? views/CountView.php? [NC,L]